body {background-color:gray; overflow:hidden;}
#temp, #windSpeed, #time {color: white; font-family: -apple-system, "Helvetica Neue", "Lucida Grande"; margin-left: 20px;}
#temp {font-size: 11em; font-weight: 700; letter-spacing: -0.05em;}
#windSpeed {position: relative; font-size: 4em; left: 10px; top: -10px;}
#time {position: absolute; top: 94%; font-size: 11px; color: black; z-index: 10; opacity: 0.3;}
#footer {background-color: white; width: 100%; height: 10%; position: absolute; top: 90%; right: 0%;}
#pinwheel {width: 80px; opacity: 1; position: relative; left: 20px; top: 10px;}

.calm
{
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}

.lightWind
{
  -webkit-animation: spin1 4s infinite linear;
  -moz-animation: spin1 4s infinite linear;
  -o-animation: spin1 4s infinite linear;
  -ms-animation: spin1 4s infinite linear;
  animation: spin1 4s infinite linear;
}

.moderateLightWind
{
  -webkit-animation: spin1 2s infinite linear;
  -moz-animation: spin1 2s infinite linear;
  -o-animation: spin1 2s infinite linear;
  -ms-animation: spin1 2s infinite linear;
  animation: spin1 2s infinite linear;
}

.moderateWind
{
  -webkit-animation: spin1 1s infinite linear;
  -moz-animation: spin1 1s infinite linear;
  -o-animation: spin1 1s infinite linear;
  -ms-animation: spin1 1s infinite linear;
  animation: spin1 1s infinite linear;
}

.heavyWind
{
  -webkit-animation: spin1 0.4s infinite linear;
  -moz-animation: spin1 0.4s infinite linear;
  -o-animation: spin1 0.4s infinite linear;
  -ms-animation: spin1 0.4s infinite linear;
  animation: spin1 0.4s infinite linear;
}

.gale
{
  -webkit-animation: spin1 0.2s infinite linear;
  -moz-animation: spin1 0.2s infinite linear;
  -o-animation: spin1 0.2s infinite linear;
  -ms-animation: spin1 0.2s infinite linear;
  animation: spin1 0.2s infinite linear;
}

@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
}