body {background-color:gray; overflow:hidden;}
#temp, #windSpeed, #time , #other_params, #location, #humidity {color: white; font-family: -apple-system, "Helvetica Neue", "Lucida Grande", Sans-Serif; margin-left: 20px;}
#location {font-size: 2em; margin-top: 16px;}
#temp {font-size: 6.2em; font-weight: 700; letter-spacing: -0.02em;}
#windSpeed {position: relative; font-size: 2em; left: 68px; top: 5px; display: inline}
#time {position: absolute; top: 93.5%; font-size: 15px; color: black; z-index: 10; left: 10px;}
#other_params {position: relative; font-size: 1.5em; left: 10px; top: 70px; line-height: 1.3em;}
#pinwheel {width: 60px; position: absolute; font-size: 6em; left: 20px; top: 167px;}
#humidity {font-size: 1.3em; display: inline; position: relative; left: 70px; top:4px;}

/**
.lightWind
{
  -webkit-animation: spin1 4s infinite linear;
  -moz-animation: spin1 4s infinite linear;
  -o-animation: spin1 4s infinite linear;
  -ms-animation: spin1 4s infinite linear;
  animation: spin1 4s infinite linear;
} **/


@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
}