body {background-color:gray; overflow:hidden;}
#temp, #windSpeed, #time , #other_params {color: white; font-family: -apple-system, "Helvetica Neue", "Lucida Grande"; margin-left: 20px;}
#temp {font-size: 9em; font-weight: 700; letter-spacing: -0.05em;}
#windSpeed {position: relative; font-size: 4em; left: 65px; top: 0px;}
#time {position: absolute; top: 93.5%; font-size: 15px; color: black; z-index: 10; opacity: 0.4; left: 10px;}
#other_params {position: relative; font-size: 1.5em; left: 10px; top: 30px; line-height: 1.3em;}
#footer {background-color: white; width: 100%; height: 10%; position: absolute; top: 90%; right: 0%;}
#pinwheel {width: 50px; position: absolute; font-size: 6em; left: 30px; top: 194px;}

/**
.lightWind
{
  -webkit-animation: spin1 4s infinite linear;
  -moz-animation: spin1 4s infinite linear;
  -o-animation: spin1 4s infinite linear;
  -ms-animation: spin1 4s infinite linear;
  animation: spin1 4s infinite linear;
} **/


@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
}